#menubar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px 10px; /* Adjust padding for smaller screens */
  width: 100%;
}

.navlinks {
  color: white;
  padding: 10px 15px; /* Adjust padding for smaller screens */
  font-size: 16px; /* Decrease font size for smaller screens */
}

.navlinks:hover {
  cursor: pointer;
  color: rgb(20, 175, 20);
}

#navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px; /* Adjust margin for smaller screens */
}

#homenav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
}

/* Media queries for responsive design */
@media only screen and (min-width: 600px) {
  .navlinks {
    padding: 10px 30px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #navbuttons {
    margin-left: 0; /* Reset margin for larger screens */
  }

  #homenav {
    padding-left: 0; /* Reset padding for larger screens */
  }
}
