.buy-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 10%;
}

@media (max-width: 768px) {
  .buy-page {
      grid-template-columns: 1fr;
  }
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.load-more-cars {
  background-color: #27ae60; /* Matching the buy-now button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto; /* Centers the button */
  font-size: 1em; /* Adjust the size as necessary */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.load-more-cars:hover {
  background-color: #218c4a; /* Darker shade on hover for better interaction feedback */
}

