.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}
.dropbtn {
    color: #000000;
    padding: 10px 12px;
    background-color: transparent;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
    border: 1px solid black;
}
.dropbtn:hover {
    color: #000000;
}
h3 {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    transform: translateX(-50%);
    padding: 20px;
}
.dropdown-content a {
    color: #212427;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.inactive {
    display: none;
}
.buttonDrop {
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
}
.buttonDrop:hover {
    background-color: #c6c6c6;
    cursor: pointer;
}
.filterpara {
    margin: 0 5px;
    padding: 10px;
}
.filterInput {
    padding: 10px;
}
.priceFlex {
    display: flex;
}
.marginRight5 {
    margin-right: 15px;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.flexboxx {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.divMarg {
    margin-top: 30px;
    margin-bottom: 20px;
}