   #trustedCar {
    font-weight: 400;
  }
  #fastSearch {
    font-weight: 500;
    font-size: 50px;
  }
  #homeInfo {
    display: flex;
    justify-content: space-between;
  }
  #parainfo {
    font-size: 20px;
    color: rgb(59, 59, 59);
    line-height: 28px;
    margin-bottom: 60px;
  }
  #textinfo {
    padding: 20px 50px;
    width: 50%;
  }
  #tesla {
    width: 50%;
  }
  .buttonLink {
    display: block;
    padding: 15px 20px;
    background-color: black;
    margin: 20px 0;
    border-radius: 10px;
  }
  .buttonText {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
  }