.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-section {
    margin-top: -100; /* Set margin-top to 0 */
    padding: 20px 0; /* Add padding to the top and bottom of the about section */
    background-color: rgba(253, 253, 253, 0.858);
    text-align: center;
}

.about-title {
    margin-top: 20px; /* Add margin to the title */
    margin-bottom: 20px; /* Add margin to the title */
}

.about-card {
    width: 80%; /* Adjust width for the about card */
    margin: 20px auto; /* Adjust margin for the about card */
    padding: 20px; /* Add padding for the about card */
}

.accordion-container {
    margin-top: 20px; /* Add margin between about card and accordion */
}

.accordion-card {
    margin-right: 10px; /* Add margin between accordion cards */
    margin-left: 10px; /* Add margin between accordion cards */
    padding: 10px; /* Add padding for accordion cards */
}

.carousel-caption {
    position: absolute;
    top: 35%; /* Center vertically */
    left: 55%; /* Center horizontally */
    transform: translate(-50%, -50%);
    color: white; /* Caption text color */
    font-size: 64px; /* Adjust font size as needed */
    text-align: center; /* Center align the text */
}
