.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000; /* Adjust the background color as needed */
    padding: 10px;
    color: #fff;
  }
  
  .navbar-logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Adjust spacing as needed */
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #ccc; /* Adjust hover color as needed */
  }
  
  .navbar-buttons button {
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* You might need to adjust the colors to match the exact shades from your logo */
  @media screen and (max-width: 1080px) {
    .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000; /* Adjust the background color as needed */
      padding: 10px;
      color: #fff;
    }
  }