.navlinks {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.navlinks:hover {
  cursor: pointer;
  color: rgb(20, 175, 20);
}

.homeInfo{
  width: 100%;
}

#navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#homenav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#fastSearch {
  font-weight: 500;
  font-size: 30px;
}

#homeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#textinfo {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as needed */
}


