.navlinks {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.navlinks:hover {
  cursor: pointer;
  color: rgb(20, 175, 20);
}

#navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#homenav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#trustedCar {
  font-weight: 400;
  color: rgb(38, 84, 237);
}

#fastSearch {
  font-weight: 500;
  font-size: 30px;
}

#homeInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#parainfo {
  font-size: 16px;
  color: rgb(59, 59, 59);
  line-height: 24px;
  margin-bottom: 30px;
}

#textinfo {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as needed */
}

#nissanLeaf {
  width: 100%;
  height: auto;
  margin: 0; /* Remove margins */

}


.buttonLink {
  display: block;
  padding: 15px 20px;
  background-color: black;
  margin: 20px 0;
  border-radius: 10px;
}

.buttonText {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
}

/* Media queries for responsive design */

@media only screen and (min-width: 600px) {
  .navlinks {
    padding: 10px 30px;
    font-size: 20px;
  }

  #nissanLeaf {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #textinfo {
    padding: 20px 50px;
  }
}
