#menubar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0 20px 20px;
}
.navlinks {
  color: white;
  padding: 10px 30px;
  font-size: 20px;
}
.navlinks:hover {
  cursor: pointer;
  color: rgb(20, 175, 20);
}
#signupDiv, #loginDiv {
  padding: 15px 40px;
  background-color: rgb(9, 117, 9);
  margin-bottom: 10px;
}
#signupDiv {
  background-color: rgb(9, 117, 9);
  margin-left: 20px;
}
#loginDiv {
  background-color: rgb(222, 148, 10);
  margin-left: 40px;
}
#signUpButton, #loginbutton {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
#navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#homenav {
  display: flex;
  justify-content: space-evenly;
}
#trustedCar {
  font-weight: 400;
}
#fastSearch {
  font-weight: 500;
  font-size: 50px;
}
#homeInfo {
  display: flex;
  justify-content: space-between;
}
#parainfo {
  font-size: 20px;
  color: rgb(59, 59, 59);
  line-height: 28px;
  margin-bottom: 60px;
}
#textinfo {
  padding: 20px 50px;
  width: 50%;
}
#tesla {
  width: 50%;
}
.buttonLink {
  display: block;
  padding: 15px 20px;
  background-color: black;
  margin: 20px 0;
  border-radius: 10px;
}
.buttonText {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
}